table {
    border-collapse: collapse;
}

th, td {
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid black;
}

thead {
    background-color: bisque;
}

#yearReleased {
    text-align: center;
}

#buttonDiv {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}