table {
    border-collapse: collapse;
}

th, td {
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid black;
}

thead {
    background-color: bisque;
}

#yearReleased {
    text-align: center;
}

#buttonDiv {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.trackId {
    font-size: 10px;
}

.invis {
    border-color: transparent;
    background-color: white;
}

.delete {
    padding: 5px 5px;
    border-radius: 10px;
    background-color: red;
    color: white;
}

.edit {
    padding: 5px 5px;
    border-radius: 10px;
    background-color: rgb(131, 186, 159);
    color: white;
}

#editForm {
    padding-top: 20px;
    font-size: 14px;
}

#buttons {
    display: inline-block;
}